log/*.log
log/*.pid
tmp/**/*
config/database.yml
config/mappings.yml
doc/api
doc/app
coverage
config/deploy.rb
db/*.sqlite3
config/initializers/hoptoad.rb
config/initializers/email.rb
config/initializers/i18n.rb
test/mappings.yml
vendor/plugins/mpdtool_canada/
public/files/
public/pdfs/
public/stylesheets/scaffold.css
vendor/plugins/acts_as_state_machine/
vendor/plugins/enforce_schema_rules/
vendor/plugins/engines
vendor/plugins/common_engine
public/mpd_letter_images
vendor/plugins/file_column
config/amazon_s3.yml
config/initializers/ga.rb
.project
public/plugin_assets/ccc_connexion_bar/
public/stylesheets/connexion_default.css
vendor/plugins/acts_as_versioned/

