<div id="content">
<fieldset style="width: 300px; margin: 0 auto;">
  <table border="0">
    <tr><td width='150px'>
      <div style='margin: 10px; text-align: center'>
        <A href="<%= @gcx_service_url %>"><img width="100" src="http://technology.ccci.org/gcx/images/288-GCX-logo.gif"/></A>
      </div>
    </td><td>
      <div style='margin: 10px; text-align: center'>
        <a href="<%= @gcx_service_url %>">Login with GCX</a>
      </div>
    </td>
  </table>
</fieldset>
</div>
